.test-box{
    
    margin: 1px;
    background-color: rgb(167, 105, 105);
    padding: 1px;

}
.important{
    color: white;
}
.img{
    float: right;
}
.sidebar{
    float: center;
    background-color: khaki
}
